/* goofy pseudo-classes prevent styles from affecting admonitions */
p:not([class]),
ul:not([class]),
ol:not([class]) {
    margin-left: 1rem !important;
}

h2 {
    border-bottom: 1px lightslategray solid !important;
}

h3 {
    margin-top: 2em !important;
}

@media print {
    h3 {
        margin-top: 1em !important;
    }
}

h4,
h5 {
    margin-left: 0.75rem !important;
    margin-bottom: 0.5em !important;
}

p:not([class]),
li:not([class]) {
    margin-bottom: 0.5em !important;
    margin-top: 0.25em !important;

    line-height: 1.35em !important;
}

.md-grid {
    max-width: 75rem; /* default is 61 */
}